<h2 mat-dialog-title>{{data.title}}</h2>

<app-dialog-modal>
  <div class="app-dialog-content">
    <form [formGroup]="addTaskForm" id="myForm" (ngSubmit)="saveTask()">
      <mat-form-field floatLabel="auto" appearance="outline" color="primary">
        <mat-label>Tarea</mat-label>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <input matInput type="text" formControlName="name">
        <mat-error
          *ngIf="addTaskForm.controls['name'].invalid
          && (addTaskForm.controls['name'].dirty
          || addTaskForm.controls['name'].touched)
          || addTaskForm.invalid && formSubmitted">
          Ingresa una tarea. 
        </mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="auto" appearance="outline" color="primary">
        <mat-label>Descripción</mat-label>
        <textarea matInput type="text" formControlName="description"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div class="app-dialog-actions">
    <button type="submit" form="myForm" mat-raised-button color="primary" [disabled]="addTaskForm.invalid && formSubmitted">
      Crear
    </button>
    <button type="button" mat-stroked-button (click)="close()">Cerrar</button>
  </div>
</app-dialog-modal>